<div class="container">
	<h1>Editando Condición</h1>

	<%= render 'form', condition: @condition %>

	<%= link_to 'Ver', @condition, class: "btn btn-default" %>
	<%= link_to 'Atrás', conditions_path, class: "btn btn-danger" %>
</div>

