<div class="container">
	<h1>Ingresar Condición</h1>

	<%= render 'form', condition: @condition %>

	<div class="form-group ">
		<%= link_to 'Atras', conditions_path, class: "btn btn-primary" %>	
	</div>
</div>

