<div class="container">
	<h1>Ingresar Servicio de Sepultación</h1>

	<%= render 'form', burial_service: @burial_service %>

	<div class="form-group ">
		<%= link_to 'Atrás', burial_services_path, class: "btn btn-primary" %>	
	</div>
</div>

