<h1>StaticPages#index</h1>
<p class="label label-primary">Find me in app/views/static_pages/index.html.erb</p>

<p>Font Awesome works too!</p>
<span class="fa-stack fa-2x">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
</span>
