<div class="container">
	<h1>Editando Cotización</h1>

	<%= render 'form', quote: @quote %>

	<%= link_to 'Ver', @quote, class: "btn btn-default" %>
	<%= link_to 'Atrás', :back, class: "btn btn-danger" %>
</div>


