<div class="container">
	<h1>Editando Componente</h1>

	<%= render 'form', component: @component %>

	<%= link_to 'Ver', @component, class: "btn btn-default" %>
	<%= link_to 'Atrás', components_path, class: "btn btn-danger" %>
</div>

