<div class="container">
	<h1>Editando Servicio</h1>

	<%= render 'form', servicio: @servicio %>

	<%= link_to 'Ver', @servicio, class: "btn btn-default" %> |
	<%= link_to 'Atrás', servicios_path, class: "btn btn-danger" %>
</div>

