<p id="notice"><%= notice %></p>

<h2>Servicios</h2>
<div class="container">
  <div class="row text-center">
    <div class="row">
      <div class="col-md-3 col-sm-6">
      <div class="service-item">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-cloud fa-stack-1x text-primary"></i>
      </span>
      <h4>
      <strong>Servicio Funerario</strong> 
      </h4>
      <p>Elige el mejor plan</p>
      <div class="form-group ">
        <%= link_to 'Cotizar', :controller => "plans", :action => "new", :servicio_id => "1" %>
      </div>
      <a href="#" class="btn btn-primary">Cotizar</a>
    </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="service-item">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-cloud fa-stack-1x text-primary"></i>
      </span>
      <h4>
      <strong>Sepulturas</strong> 
      </h4>
      <p>Elige el mejor plan</p>
      <a href="#" class="btn btn-primary">Cotizar</a>
    </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="service-item">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-cloud fa-stack-1x text-primary"></i>
      </span>
      <h4>
      <strong>Servicio de Sepultación</strong> 
      </h4>
      <p>Elige el mejor plan</p>
      <a href="#" class="btn btn-primary">Cotizar</a>
    </div>
    </div>


    <div class="col-md-3 col-sm-6">
      <div class="service-item">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-cloud fa-stack-1x text-primary"></i>
      </span>
      <h4>
      <strong>Servicio de Sepultación</strong>  
      </h4>
      <p>Elige el mejor plan</p>
      <a href="#" class="btn btn-primary">Cotizar</a>
    </div>
    </div>

    
    </div>
   
</div>
</div>