<div class="container">
	<h1>Ingresar Servicio</h1>

	<%= render 'form', servicio: @servicio %>

	<div class="form-group ">
	<%= link_to 'Atras', servicios_path, class: "btn btn-primary" %>	
</div>
</div>




