<div class="container">
	<h1>Editando Tipo Atributo</h1>

	<%= render 'form', tipo_atributo: @tipo_atributo %>

	<%= link_to 'Ver', @tipo_atributo, class: "btn btn-default" %> |
	<%= link_to 'Atrás', tipo_atributos_path, class: "btn btn-danger" %>
</div>

