<div class="container">
	<h1>Editando Anfora</h1>

	<%= render 'form', anfora: @anfora %>

	<%= link_to 'Ver', @anfora, class: "btn btn-default" %>
	<%= link_to 'Atrás', anforas_path, class: "btn btn-danger" %>
</div>


