
  <div class="container">
  	<h1>Ingresar Anfora</h1>

	<%= render 'form', anfora: @anfora %>

	<div class="form-group ">
		<%= link_to 'Atrás', anforas_path, class: "btn btn-primary" %>	
	</div>
  </div>

