<div class="container">
	<h1>Ingresar Dirección</h1>

	<%= render 'form', direction: @direction %>

	<div class="form-group ">
		<%= link_to 'Atrás', directions_path, class: "btn btn-primary" %>	
	</div>
</div>

