<div class="container">
	<h1>Editando Componente</h1>

	<%= render 'form', componente: @componente %>

	<%= link_to 'Ver', @componente, class: "btn btn-default" %> |
	<%= link_to 'Atrás', :back, class: "btn btn-danger" %>
</div>


