<div class="container">
	<h1>Editando Componentes Planes</h1>

	<%= render 'form', componentes_plan: @componentes_plan %>

	<%= link_to 'Ver', @componentes_plan, class: "btn btn-default" %> |
	<%= link_to 'Atrás', componentes_plans_path, class: "btn btn-danger" %>
</div>

