<div class="container">
	<h1>Ingresar Componentes Planes</h1>

	<%= render 'form', componentes_plan: @componentes_plan %>

	<%= link_to 'Atrás', componentes_plans_path, class: "btn btn-primary" %>
</div>

