<div class="container">
	<h1>Editando Traslado</h1>

	<%= render 'form', traslado: @traslado %>

	<%= link_to 'Ver', @traslado, class: "btn btn-default" %>
	<%= link_to 'Atrás', traslados_path, class: "btn btn-danger" %>
</div>

