<div class="container">
	<h1>Ingresar Traslado</h1>

	<%= render 'form', traslado: @traslado %>

	<div class="form-group">
			<%= link_to 'Atrás', traslados_path, class: "btn btn-primary" %>	
	</div>

</div>

