<div class="container">
	<h1>Ingresar Tipo Cliente</h1>

	<%= render 'form', tipo_cliente: @tipo_cliente %>

	<div class="form-group ">
			<%= link_to 'Atrás', tipo_clientes_path, class: "btn btn-primary" %>	
	</div>
</div>

