<div class="container">
	<h1>Editando Contacto</h1>

	<%= render 'form', contacto: @contacto %>

	<%= link_to 'Ver', @contacto, class: "btn btn-default" %> |
	<%= link_to 'Atrás', contactos_path, class: "btn btn-danger" %>
</div>


