<div class="container">
	<h1>Enviar Solicitud</h1>

	<%= render 'form', contacto: @contacto %>

	<div class="form-group">
		<%= link_to 'Inicio', root_path, class: "btn btn-primary" %>	
	</div>
</div>

