<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Contactanos</h3>
                <a href="#" class="btn btn-lg btn-light">Click aquí!</a>
                <a href="#" class="btn btn-lg btn-dark">LLama aquí!</a>
            </div>
        </div>
    </div>
</aside>
