<%= form_for :velatorio do |f| %>


  <div class="container">
    <form role="form">
      <div class="form-group">
        <label for="tramites_defuncion">Tramites de Defunción:</label>
        <input type="text" class="form-control" id="tramites_defuncion"
               placeholder="Tramites de Defunción:">
      </div>
      <div class="form-group">
        <label for="asesor_a_domicilio">Asesor a Domicilio:</label>
        <input type="text" class="form-control" id="asesor_a_domicilio"
               placeholder="Asesor a Domicilio:">
      </div>
      <div class="form-group">
        <label for="sala_de_velatorio">Sala de velatorio:</label>
        <input type="text" class="form-control" id="sala_de_velatorio"
               placeholder="Sala de velatorio:">
      </div>
      <div class="form-group">
        <label for="cirios">Cirios:</label>
        <input type="number" class="form-control" id="cirios"
               placeholder="Cirios:">
      </div>
      <div class="form-group">
        <label for="portacirios">Portacirios:</label>
        <input type="number" class="form-control" id="portacirios"
               placeholder="Portacirios:">
      </div>
      <div class="form-group">
        <label for="cruz">Cruz:</label>
        <input type="number" class="form-control" id="cruz"
               placeholder="Cruz:">
      </div>
      <div class="form-group">
        <label for="flores_en_canasto">Flores en Canasto:</label>
        <input type="number" class="form-control" id="flores_en_canasto"
               placeholder="Flores en Canasto:">
      </div>
      <div class="form-group">
        <label for="flores_cubre_urna">Flores cubre Urna:</label>
        <input type="number" class="form-control" id="flores_cubre_urna"
               placeholder="Flores cubre Urna:">
      </div>
      <div class="form-group">
        <label for="libro_de_condolencias">Libro de Condolencias:</label>
        <input type="number" class="form-control" id="libro_de_condolencias"
               placeholder="Libro de Condolencias:">
      </div>
      <div class="form-group">
        <label for="parroco">Parroco:</label>
        <input type="text" class="form-control" id="parroco"
               placeholder="Parroco:">
      </div>
      <div class="form-group">
        <label for="coro">Coro:</label>
        <input type="number" class="form-control" id="coro"
               placeholder="Coro:">
      </div>
      <div class="form-group">
        <label for="aviso_prensa">Aviso de Prensa:</label>
        <input type="number" class="form-control" id="aviso_prensa"
               placeholder="Aviso de Prensa:">
      </div>
      <div class="form-group">
        <label for="tarjeta_agradecimiento">Tarjeta de Agradecimiento:</label>
        <input type="number" class="form-control" id="tarjeta_agradecimiento"
               placeholder="Tarjeta de Agradecimiento:">
      </div>
      <div class="form-group">
        <label for="cafeteria">Cafeteria:</label>
        <input type="text" class="form-control" id="cafeteria"
               placeholder="Cafeteria:">
      </div>
      <button type="submit" class="btn btn-default">Crear Velatorio</button>
    </form>
  </div>
<% end %>
