<div class="container">
	<h1>Editando Velatorio</h1>

	<%= render 'form', velatorio: @velatorio %>

	<%= link_to 'Ver', @velatorio, class: "btn btn-default" %>
	<%= link_to 'Atrás', velatorios_path, class: "btn btn-danger" %>
</div>

