<div class="container">
	<h1>Ingresar Velatorio</h1>

	<%= render 'form', velatorio: @velatorio %>

	<div class="form-group ">
		<%= link_to 'Atras', velatorios_path, class: "btn btn-primary" %>	
	</div>
</div>

