<div class="container">
	<h1>Editando Formas De Pago</h1>

	<%= render 'form', formas_de_pago: @formas_de_pago %>

	<%= link_to 'Ver', @formas_de_pago, class: "btn btn-default" %>
	<%= link_to 'Atrás', formas_de_pagos_path, class: "btn btn-danger" %>
</div>

