<div class="container">
	<h1>Ingresar Formas De Pago</h1>

	<%= render 'form', formas_de_pago: @formas_de_pago %>

	<div class="form-group ">
		<%= link_to 'Atras', formas_de_pagos_path, class: "btn btn-primary" %>	
	</div>
</div>



