<div class="container">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Nombre:</strong>
	  <%= @formas_de_pago.nombre %>
	</p>

	<%= link_to 'Editar', edit_formas_de_pago_path(@formas_de_pago), class: "btn btn-default" %> |
	<%= link_to 'Atrás', formas_de_pagos_path, class: "btn btn-danger" %>
</div>

