<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @formas_de_pago.nombre %>
</p>

<%= link_to 'Edit', edit_formas_de_pago_path(@formas_de_pago) %> |
<%= link_to 'Back', formas_de_pagos_path %>
