<div class="container">
	<h1>Editando Atributo</h1>

	<%= render 'form', atributo: @atributo %>

	<%= link_to 'Ver', @atributo, class: "btn btn-default" %> |
	<%= link_to 'Atrás', atributos_path, class: "btn btn-danger" %>
</div>



