<div class="container">
	<h1>Editando Sede</h1>

	<%= render 'form', sede: @sede %>

	<%= link_to 'Ver', @sede, class: "btn btn-default" %> |
	<%= link_to 'Atrás', sedes_path, class: "btn btn-danger" %>
</div>

