<div class="container">
	<h1>Editando Comuna</h1>

	<%= render 'form', comuna: @comuna %>

	<%= link_to 'Ver', @comuna, class: "btn btn-default" %>
	<%= link_to 'Atrás', comunas_path, class: "btn btn-danger" %>
</div>

