<div class="container">
	<h1>Ingresar Comuna</h1>

	<%= render 'form', comuna: @comuna %>

	<div class="form-group ">
		<%= link_to 'Atrás', comunas_path, class: "btn btn-primary" %>	
	</div>
</div>

