<div class="container">
	<h1>Editando Telefono</h1>

	<%= render 'form', telefono: @telefono %>

	<%= link_to 'Ver', @telefono, class: "btn btn-default" %>
	<%= link_to 'Atrás', telefonos_path, class: "btn btn-danger" %>
</div>


