<div class="container">
	<h1>Ingresar Telefono</h1>

	<%= render 'form', telefono: @telefono %>

	<div class="form-group ">
		<%= link_to 'Atras', telefonos_path, class: "btn btn-primary" %>	
	</div>
</div>

