<div class="container">
	<h1>Editando Construcción</h1>

	<%= render 'form', construction: @construction %>

	<%= link_to 'Ver', @construction, class: "btn btn-default" %>
	<%= link_to 'Atrás', construction_path, class: "btn btn-danger" %>
</div>

