<div class="container">
	<h1>Ingresar Construcción</h1>

	<%= render 'form', construction: @construction %>

	<div class="form-group ">
		<%= link_to 'Atras', constructions_path, class: "btn btn-primary" %>	
	</div>
</div>

