<div class="container">
	<h1>Editando Capacidad</h1>

	<%= render 'form', espacio: @espacio %>

	<%= link_to 'Ver', @espacio, class: "btn btn-default" %>
	<%= link_to 'Atrás', espacios_path, class: "btn btn-danger" %>
</div>

