<div class="container">
	<h1>Ingresar Capacidad</h1>

	<%= render 'form', espacio: @espacio %>

	<div class="form-group ">
		<%= link_to 'Atras', espacios_path, class: "btn btn-primary" %>	
	</div>
</div>




