<div class="container">
	<h1>Ingresar Atributos Componentes</h1>

	<%= render 'form', atributos_componente: @atributos_componente %>

	<%= link_to 'Atrás', atributos_componentes_path, class: "btn btn-primary" %>
</div>


