<%= form_for :support do |f| %>


  <div class="container">
    <form role="form">
      <div class="form-group">
        <label for="cobro_mantencion">Cobro Mantención:</label>
        <input type="text" class="form-control" id="cobro_mantencion"
               placeholder="Cobro Mantención:">
      </div>
      <div class="form-group">
        <label for="tiempo_cobro">Tiempo Cobro:</label>
        <input type="text" class="form-control" id="tiempo_cobro"
               placeholder="Tiempo Cobro:">
      </div>
      <button type="submit" class="btn btn-default">Crear Urna</button>
    </form>
  </div>

<% end %>
