<div class="container">
	<h1>Ingresar Mantención</h1>

	<%= render 'form', support: @support %>

	<div class="form-group ">
		<%= link_to 'Atras', supports_path, class: "btn btn-primary" %>	
	</div>
</div>

