<div class="container">
	<h1>Editando Empresa</h1>

	<%= render 'form', empresa: @empresa %>

	<%= link_to 'Ver', @empresa, class: "btn btn-default" %>
	<%= link_to 'Atrás', empresas_path, class: "btn btn-danger" %>

</div>


