<div class="container">
	<h1>Editando Region</h1>

	<%= render 'form', region: @region %>

	<%= link_to 'Ver', @region, class: "btn btn-default" %>
	<%= link_to 'Atrás', regions_path, class: "btn btn-danger" %>
</div>

