<div class="container">
	<h1>Ingresar Region</h1>

	<%= render 'form', region: @region %>

	<div class="form-group ">
		<%= link_to 'Atras', regions_path, class: "btn btn-primary" %>	
	</div>
</div>

