<div class="container">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Nombre:</strong>
	  <%= @region.nombre %>
	</p>

	<%= link_to 'Editar', edit_region_path(@region), class: "btn btn-default" %> |
	<%= link_to 'Atrás', regions_path, class: "btn btn-danger" %>
</div>

