<div class="container">
	<h1>Editando Tipo Plan</h1>

	<%= render 'form', type_plan: @type_plan %>

	<%= link_to 'Ver', @type_plan, class: "btn btn-default" %>
	<%= link_to 'Atrás', type_plans_path, class: "btn btn-danger" %>
</div>

