<div class="container">
	<h1>Ingresar Tipo Plan</h1>

	<%= render 'form', type_plan: @type_plan %>

	<div class="form-group ">
		<%= link_to 'Atrás', type_plans_path, class: "btn btn-primary" %>	
	</div>
</div>

