<div class="container">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Nombre:</strong>
	  <%= @type_plan.nombre %>
	</p>

	<%= link_to 'Editar', edit_type_plan_path(@type_plan), class: "btn btn-default" %> |
	<%= link_to 'Atrás', type_plans_path, class: "btn btn-danger" %>

</div>
