<%= form_for :servicio_de_cinerario do |f| %>


  <div class="container">
    <form role="form">
      <div class="form-group">
        <label for="capilla">Capilla:</label>
        <input type="text" class="form-control" id="capilla"
               placeholder="Capilla:">
      </div>
      <div class="form-group">
        <label for="sala_de_velatorioa">Sala de Velatorio:</label>
        <input type="text" class="form-control" id="sala_de_velatorio"
               placeholder="Sala de Velatorio:">
      </div>
      <div class="form-group">
        <label for="podium">Podium:</label>
        <input type="text" class="form-control" id="podium"
               placeholder="Podium:">
      </div>
      <div class="form-group">
        <label for="liturgia">Liturgia:</label>
        <input type="text" class="form-control" id="liturgia"
               placeholder="Liturgia:">
      </div>
      <div class="form-group">
        <label for="amplificacion">Amplificación:</label>
        <input type="text" class="form-control" id="amplificacion"
               placeholder="Amplificación:">
      </div>
      <div class="form-group">
        <label for="diacono">Diacono:</label>
        <input type="text" class="form-control" id="diacono"
               placeholder="Diacono:">
      </div>
      <div class="form-group">
        <label for="coro">Coro:</label>
        <input type="number" class="form-control" id="coro"
               placeholder="Coro:">
      </div>
        <div class="form-group">
        <label for="cafeteria">Cafeteria:</label>
        <input type="text" class="form-control" id="cafeteria"
               placeholder="Cafeteria:">
      </div>
        <div class="form-group">
        <label for="ceremonia_entre_cenizas">Ceremonia entre Cenizas:</label>
        <input type="text" class="form-control" id="ceremonia_entre_cenizas"
               placeholder="Ceremonia entre Cenizas:">
      </div>
       <div class="form-group">
        <label for="anfora_incluida">Anfora Incluida:</label>
        <input type="text" class="form-control" id="anfora_incluida"
               placeholder="Anfora Incluida:">
      </div>
      <button type="submit" class="btn btn-default">Crear Urna</button>
    </form>
  </div>


<% end %>
