<h1>Editing Servicio De Cinerario</h1>

<%= render 'form', servicio_de_cinerario: @servicio_de_cinerario %>

<%= link_to 'Show', @servicio_de_cinerario %> |
<%= link_to 'Back', servicio_de_cinerarios_path %>
