<div class="container">
  	<h1>Ingresar Servicio De Cinerario</h1>

	<%= render 'form', servicio_de_cinerario: @servicio_de_cinerario %>

	<div class="form-group ">
	<%= link_to 'Atras', servicio_de_cinerarios_path, class: "btn btn-primary" %>	
</div>
</div>

