<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @type_publication.nombre %>
</p>

<%= link_to 'Edit', edit_type_publication_path(@type_publication) %> |
<%= link_to 'Back', type_publications_path %>
