<div class="container">
	<h1>Editando Ubicación</h1>

	<%= render 'form', location: @location %>

	<%= link_to 'Ver', @location, class: "btn btn-default" %>
	<%= link_to 'Atrás', locations_path, class: "btn btn-danger" %>
</div>


