<div class="container">
	<h1>Ingresar Tipo Empresa</h1>

	<%= render 'form', tipo_empresa: @tipo_empresa %>

	<div class="form-group ">
		<%= link_to 'Atrás', tipo_empresas_path, class: "btn btn-primary" %>	
	</div>
</div>

