<div class="container">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Nombre:</strong>
	  <%= @tipo_empresa.nombre %>
	</p>

	<%= link_to 'Editar', edit_tipo_empresa_path(@tipo_empresa), class: "btn btn-default" %> |
	<%= link_to 'Atrás', tipo_empresas_path, class: "btn btn-danger" %>

</div>
