<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_empresa.nombre %>
</p>

<%= link_to 'Edit', edit_tipo_empresa_path(@tipo_empresa) %> |
<%= link_to 'Back', tipo_empresas_path %>
