<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @caracteristica.nombre %>
</p>

<%= link_to 'Edit', edit_caracteristica_path(@caracteristica) %> |
<%= link_to 'Back', caracteristicas_path %>
